h1 {
  font-family: helvetica;
  color: black;

}

html {
  background-color: green;
  font-family: sans-serif;
}

h2 {
  width: 230px;
  height: 25px;
  border: 2px solid black;
  background: #eee;
}

li {
  list-style-type: disc;
}
